<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li>
            <a href="shop.html"
              >Shop</a
            >
          </li>
          <li><a href="404.html">About</a></li>
        </ul>
      </nav>
</head>
<body>
    <h2>Welcome to Generic Store Name – Custom Creations & Digital Essentials!</h2>
    <p>Explore our collection of unique merchandise for people, businesses, and everyday life. Whether you're looking a big product, small product, or medium product, we have something for you!</p>
    <h2>Need an Invoice? We’ve Got You Covered!</h2>
    <p>For business customers and professionals, our store offers automatic invoice generation for every purchase. Simply add your items to the cart, check out, and download your PDF invoice instantly. Perfect for expense tracking, tax deductions, and corporate purchases!</p>
    <button class="btn"> <a href="shop.html">Browse, Buy & Download Instantly</a></button>
    
    <link rel="stylesheet" href="./css/style.css">
</body>
</html>